/* Formatação do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxItens {
  background-color: #7f9dbb;
  max-width: 300px;
  margin-top: 1em;
  padding: 1em;
  border-radius: .6em;
}

h1 {
  text-align: center;
}

.inputsContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

input,
select {
  padding: .5em;
}

.resultArea {
  margin-top: 1em;
  font-size: 18px;
  line-height: 30px;
}

h2 {
  margin-bottom: .5em;
}

.colorRed {
  color: #d32020;
}